.movie {
  width: 100%;
  height: 271px;
  background-color: transparent;
  list-style-type: none;
}

.movie__block {
  position: relative;
}

.movie__info {
  display: flex;
  justify-content: space-between;
  width: 332px;
  margin: 0 auto;
  padding: 14px;
}

.movie__title {
  color: #000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
  padding-bottom: 10px;
}

.movie__time {
  width: 52px;
  height: 18px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  color: #a0a0a0;
  margin: 0;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie__button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.movie__button {
  width: 72px;
  height: 21px;
  border-radius: 20px;
  border: none;
  -webkit-appearance: none;
  transition: 0.5s;
  background: #f4f4f4f9;
  position: absolute;
  top: 14px;
  right: 14px;
  opacity: 0;
}

.movie__button::before {
  content: "Сохранить";
  color: #000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
  transition: 0.5s;
}

.movie__button:checked {
  opacity: 1;
  width: 21px;
  height: 21px;
  background: center #ee3465 url("../../images/flag-activ.svg") no-repeat;
}

.movie__button:checked::before {
  content: none;
  transition: 0.5s;
}

.movie__delete-button {
  width: 21px;
  height: 21px;
  border-radius: 20px;
  border: none;
  -webkit-appearance: none;
  transition: 0.5s;
  background: center #f9f9f9 url("../../images/flag-del.svg") no-repeat;
  opacity: 0;
  position: absolute;
  top: 14px;
  right: 14px;

}

.movie__trailer{
  text-decoration: none;
  display: block;
  width: 100%;
}


.movie__image {
  display: block;
  width: 100%;
  height: 201px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 6px;
}

.movie__block:hover .movie__button .movie__delete-button {
  opacity: 1;
  transition: opacity 0.3s;
}

.movie__block:hover .movie__delete-button {
  opacity: 1;
  transition: opacity 0.3s;
}

@media screen and (max-width: 1279px) {
  .movie {
    width: 339px;
    height: 258px;
  }

  .movie__info {
    width: 100%;
    padding: 25px 0;
  }

  .movie__image {
    height: 190px;
  }
}

@media screen and (max-width: 767px) {
  .movie {
    width: 300px;
    height: 228px;
  }

  .movie__info {
    padding: 17px 0;
  }

  .movie__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  .movie__image {
    height: 168px;
  }

}
