.movie {
  width: 100%;
  height: 271px;
  background-color: #fdfdfd;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, .08);
  list-style-type: none;
}

.movie__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 19px 14px 14px 14px;
}

.movie__info{
  display: flex;
  flex-direction: column;
  width: 280px;
}

.movie__title {
  color: #000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 10px;
}

.movie__time {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
    margin: 0;
}

.movie__button {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: none;
  -webkit-appearance: none;
  transition: .5s;
  background: center #f9f9f9 url('../../images/flag-hidden.svg') no-repeat;
  
}

.movie__button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.movie__button:checked {
  background: center #2BE080 url('../../images/flag-activ.svg') no-repeat;
}

.movie__delete-button {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: none;
  -webkit-appearance: none;
  transition: .5s;
  background: center #f9f9f9 url('../../images/flag-del.svg') no-repeat;
}

.movie__image {
  display: block;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .movie {
    width: 339px;
    height: 258px;
  }
}

@media screen and (max-width: 767px) {
  .movie {
    width: 300px;
    height: 236px;
  }
}