.portfolio {
    margin: 0 auto;
    width: 1140px;
    padding-left: 50px;
}

.portfolio__title {
  margin: 0;
  color: #A0A0A0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.portfolio__list {
    display: flex;
    flex-direction: column;
    padding-top: 29px;
    padding-inline-start: 0;
    margin: 0;
    padding-bottom: 102px;
   
}

.portfolio__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #A0A0A0;
    padding: 20px 0 10px;
}

.portfolio__item:nth-child(3) {
    border-bottom: none;
}

.portfolio__link {
  margin: 0;
  color: #000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -1.3px;
  text-decoration: none;
}

.portfolio__link_type_picture {
  display: flex;
  align-items: center;
  padding-right: 1px;
}

.portfolio__arrow {
  width: 29px;
  height: 59px;
  background: url('../../images/arrow.svg') no-repeat center;
  background-size: auto;
}

@media screen and (max-width: 1279px) {
  .portfolio {
    max-width: 668px;
    padding-left: 0;
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 50px;
    letter-spacing: -1.1px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio {
    max-width: 292px;
  }
  
  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__list {
    padding: 20px 0;
    width: 292px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.7px;
  }

  .portfolio__link_type_picture {
    padding-right: 0;
  }
  .portfolio__arrow {
    width: 18px;
    height: 28px;
    background-size: auto;
    background: url('../../images/arrow_min.svg') no-repeat center;
  }

  .portfolio__item {
    padding: 21px 0 18px;
  }
}