.navigation__box {
  display: none;
}

@media screen and (max-width: 1279px) {
  .navigation__box {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
  }

  .navigation_open {
    visibility: visible;
    opacity: 1;
  }

  .navigation__container {
    max-width: 67.7vw;
    width: 530px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
    margin: 0 auto;
  }
}

.button__close {
  background: center url("../../images/Group.svg") no-repeat;
  width: 22px;
  height: 22px;
  border: none;
  position: relative;
  top: 36px;
  left: 94%;
}

.navigation__list-popup {
  width: 340px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 168px 0;
  list-style-type: none;
}

.navigation__item {
  padding-bottom: 28px;
}

.navigation__link-popup {
  color: black;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}

.link-decoration {
  border-bottom: 2px solid #000;
}

.link__popup {
  margin-top: 425px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 767px) {
  .navigation__container {
    max-width: 320px;
  }

  .button__close {
    top: 40px;
    left: 87%;
  }

  .navigation__list-popup {
    width: 300px;
  }

  .navigation__item {
    padding-bottom: 0;
    margin-bottom: 25px;
  }

  .link__popup {
    margin-top: 250px;
  }
}
