.project {
  margin: 0 auto;
  width: 1140px;
  padding-left: 50px;
}

.project__title {
  padding-top: 112px;
  margin: 0;
  color: #000;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 26.63px;
  text-align: left;
  letter-spacing: -0.4px;
  border-bottom: 1px solid #000;
  padding-bottom: 22px;
}

.project__description {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 35px 0;
}

.project__element {
  max-width: 550px;
}

.project__description_type_title {
  color: #000;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  text-align: left;
}

.project__text {
  color: #000;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  padding-top: 5px;
}

.project__scale {
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 110px;
  display: grid;
  grid-template-columns: 228px 1fr;
  text-align: center;
}

.project__scale-time {
  background-color: #2be080;
  height: 36px;
  color: #000;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__scale-time:nth-child(2) {
  background-color: #f2f2f2;
}

.project__scale-name {
  padding: 0;
  margin: 0;
  color: #a0a0a0;
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .project {
    max-width: 668px;
    padding-left: 0;
  }

  .project__title {
    padding-top: 91px;
    padding-bottom: 22px;
    letter-spacing: -1px;
  }

  .project__description_type_title {
    letter-spacing: -0.8px;
  }

  .project__element {
    max-width: 319px;
  }

  .project__text {
    font-size: 12px;
    line-height: 18px;
    padding-top: 2px;
  }

  .project__scale {
    padding-top: 15px;
    padding-bottom: 90px;
    display: grid;
    grid-template-columns: 140px 1fr;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .project {
    max-width: 284px;
  }

  .project__title {
    padding-top: 70px;
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.7px;
  }

  .project__description {
    flex-direction: column;
    padding: 60px 0 0 0;
    margin: 0;
  }

  .project__description_type_title {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    letter-spacing: -0.7px;
  }

  .project__element {
    max-width: 284px;
  }

  .project__text {
    font-size: 11px;
    line-height: 16px;
    padding-top: 0;
    margin: 0;
    padding: 16px 0 56px;
  }

  .project__scale {
    padding-top: 4px;
    padding-bottom: 90px;
    grid-template-columns: 100px 1fr;
  }

  .project__scale-time {
    margin: 0;
    font-size: 11px;
    line-height: 13px;
  }

  .project__scale-name {
    padding: 9px 0;
    font-size: 11px;
    line-height: 13px;
  }
}
