.footer {
    background-color: #fafafa;
    margin: 0 auto;
    max-width: 100%;
    
}
.footer__title {
    margin: 0 auto;
    width: 1140px;
    color: #a0a0a0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    padding: 84px 0 20px 0;
    border-bottom: 1px solid #E8E8E8;
}

.footer__container {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
}

.footer__copyright {
  color: #000;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__list {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.footer__item {
    padding-right: 20px;
}

.footer__item:nth-child(3) {
    padding-right: 0;
}

.footer__link {
  text-decoration: none;
  color: #000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
}

.footer_type_hidden {
  display: none;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 768px;
    padding-left: 0;
  }

  .footer__title {
    width: 708px;
    padding: 50px 0 20px 0;
    margin-left: 38px;
  }

  .footer__container {
    padding: 19px 0 20px 10px;
    max-width: 708px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    background-color: #fff;
    max-width: 300px;
    padding-left: 0;
  }

  .footer__title {
    width: 300px;
    padding: 110px 0 21px 0;
    margin-left: 0;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__container {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 29px 0 0 0;
    max-width: 300px;
  }

  .footer__list {
    flex-direction: column;
    align-items: center;
    padding-inline-start: 0;
    height: 69px;
  }

  .footer__item {
    padding-right: 0;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__copyright {
    color: #a0a0a0;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    padding: 30px 0 10px 0;
  }
}