.navigation {
  width: 1139px;
  margin: 0 auto 75px;
}

.navigation__button {
  background-color: transparent;
  border-radius: 10px;
  width: 129px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 3px;
}

.navigation__button:hover {
  transform: opacity 0.2s lienar;
  opacity: 0.8;
  cursor: pointer;
}

.navigation__link {
  text-decoration: none;
  color: #000;
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
}

@media screen and (max-width: 1279px) {
  .navigation {
    padding-top: 0;
    width: 768px;
    display: flex;
    justify-content: center;
    margin: 0 auto 78px;
  }

  .navigation__list {
    padding-inline-start: 0;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    width: 300px;
    margin: 0 auto 29px;
  }

  .navigation__list {
    width: 258px;
  }
}
